[2015-02-11 22:41] davclark opened #1 "Create a home page on the wiki"
Do this here: https://github.com/berkeley-dsc/purchasing/wiki

[2015-02-11 22:42] davclark opened #2 "Figure out who needs to go on the purchasing team"
Get github user IDs, and add them to this team: https://github.com/orgs/berkeley-dsc/teams/purchasing

I've already given that team read/write access to this repo

[2015-02-11 22:44] davclark opened #3 "Get your team on Slack"
They should be able to sign up using their berkeley.edu address:

https://msdse.slack.com/messages/berkeley-dsc/

[2015-03-03 22:00] choldgraf commented on #2
I think most people have access now... @juanshishido @nlin3330 @dariusmehri @kaiweitan @anthonysuen @danielturek

[2015-03-06 22:16] choldgraf opened #4 "Using scripts vs. ipython notebooks"
TEST

[2015-03-06 22:17] #4 closed, assigned to nobody

[2015-03-09 17:43] choldgraf opened #5 "Finding product categories"
It looks like this is going to be a fairly difficult thing to with with the current data. Here's what Andrew said:

He'll send something soon, but it looks like we may need to figure this out ourselves.

[2015-03-09 17:43] choldgraf opened #6 "Brainstorming ideas"
Right now, we're focusing on the network analysis component to this project. There are many other ideas worth pursuing, and we should hash out some thoughts here. Here is the basic set of questions that Andrew asks when doing analyses:
1. What are we buying
2. Who are we buying it from
3. How much are we paying
4. Who on campus is buying it
5. How are we buying it

Additionally from Andrew, regard

[2015-03-09 17:47] dariusmehri commented on #5
i was just thinking about this and something hit me that may be useful: the suppliers typically specialize in supplying specific products so maybe we can categorize according to specialty, i.e a supplier that supplies software will unlikely sell chemicals, and so on

[2015-03-09 17:48] choldgraf opened #7 "Network analysis"
This issue is where we'll discuss the network analysis component. We can post graphs, code snippits, and brainstorms.

The network analysis project aims to find cluster of co-occurrence between departments, manufacturers, suppliers, product types, etc.

Project lead is @dariusmehri along with @nlin3330

[2015-03-09 17:51] choldgraf commented on #3
I looked through Slack and there is some discussion from the BIDS team. That said, I don't see a ton of value-added for this project specifically. How do people feel about holding off on using slack for this project and using github issues for discussing things instead?

[2015-03-09 17:51] choldgraf commented on #2
All users should be added to the github repo, so I'm closing this.

[2015-03-09 17:51] #2 closed, assigned to anthonysuen

[2015-03-09 17:54] dariusmehri commented on #3
my vote is to stick with github for communication and google drive for data

[2015-03-09 17:54] choldgraf commented on #5
I think that's a good idea. This would work for the more specialized suppliers. Some might be too "general" (e.g., Staples), but I think it's worth trying to see how it comes out.

Maybe we could pick the 100 most common suppliers, and categorize each one?

[2015-03-09 19:27] davclark commented on #3
As one of the main instigators of slack - if things are working, then it's
fine to keep them that way. Keep in mind that part of the ideal is to have
discussions be public, so that folks can go back and see what happened in
discussions. So, if there's a lot in the black hole of email, that'd be a
good thing to move to slack.

Also - the goal is eventually to get other members of BIDS chiming in on

[2015-03-09 20:53] anthonysuen commented on #3
I agree that while currently Slack isn't very active, it can be a useful to get feedback when the team hits a major roadblock that requires additional help.

[2015-03-09 22:00] dariusmehri commented on #3
i'm definitely not against moving to slack,  at this point though i think our goal should be to get results, instead of adding one more way of communicating that we must get up to speed with, so i think we should leave things as is, for now, if that is ok with you guys

[2015-03-10 17:17] choldgraf commented on #6
Hey all - I've put all active projects on our github wiki, which you can find [here](https://github.com/berkeley-dsc/purchasing/wiki). We can use this space for brainstorming new projects.

[2015-03-12 16:54] choldgraf opened #8 "Time to completion analysis"
This project aims to analyze the time-to-completion of POs, and determine if this is significantly different across people, departments, times of year, etc.

Project lead is @kaiweitan with assistance from @juanshishido

Edit:

Time to completion

Spend vs. quantity x unit price - spend is the amount paid so far, quantity \* unit price is the total committed amount
Need some way to scale by size o

[2015-03-12 16:56] choldgraf opened #9 "Text classification analysis"
This project will use classification methods to categorize / cluster POs based on what's in the description field, supplier name, etc.

Project lead is @juanshishido with assistance from @kaiweitan

[2015-03-12 16:59] choldgraf opened #10 "Meeting - 3/13/2015"
This will be a short update meeting to discuss progress on the following projects:
#7 Network analysis
#8 Time to completio analysis
#9 Text classification analysis

Please post your progress here, as well as challenges that you've faced and things that need to be done next. As a group we can discuss these tomorrow.

@juanshishido @nlin3330 @dariusmehri @kaiweitan @anthonysuen

Chris

[2015-03-12 17:09] dariusmehri commented on #10
I will be out of town starting this evening until next Wednesday, our objective is to have one graph done by next week for the presentation. We are still figuring out how to input and graph data in NetworkX.

[2015-03-13 10:12] nlin3330 commented on #10
I just finished making a preliminary graph for the network analysis but it is extremely clutter which i guess is to be expected (over 20000 supplier nodes). So the next step is to find a way to create a legible graph.
![figure_1](https://cloud.githubusercontent.com/assets/7124729/6636591/d2a3afa6-c92e-11e4-815c-dbeb9eb17f7d.png)

[2015-03-13 16:55] choldgraf commented on #10
That's pretty cool - can you commit some code that you used to create this? Perhaps you can give an explanation of how it works.

[2015-03-13 17:02] choldgraf commented on #10
Once we hear from @juanshishido and @kaiweitan, I'll put together a plan for the meeting

[2015-03-13 17:26] testchange commented on #10
Have installed anaconda in my macbook. The challenge for me right now is to learn the appropriate tools/code for me to come out with data visualization. I will be down for the meeting today.

[2015-03-13 17:41] testchange commented on #10
So here's the few questions i am working on:

I have been searching through the net for the appropriate code for the following questions.

How to create a new column for Time of procurement = Creating the length of date(Po_closed_date - Creation date)?

Running a graph of Time of procurement against Buyer_Last_Name?

Running a graph of Time of procurement against Department name?

[2015-03-13 18:27] dariusmehri commented on #10
it is cool but it doesn't show much, it should be good enough for the
meeting on the 15th though

i will send out more guidelines on what i think needs to be done to improve
the graph(s) later this evening

darius

On Fri, Mar 13, 2015 at 9:55 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-13 18:29] choldgraf commented on #10
That would be perfect, thanks Darius

On Fri, Mar 13, 2015 at 11:27 AM, dariusmehri notifications@github.com
wrote:

[2015-03-13 18:49] dariusmehri commented on #10
here is something really quick:

graph only three months of one year, i.e. jan, feb, march, you will need to
go back to the original data (before you used the drop_duplicates()
function) and subset the data with those months and then drop duplicates,
if it is still too cluttered, than just do one month

if you can, create dept nodes as shaded circles and supplier nodes as
circles without shade but

[2015-03-13 18:51] dariusmehri commented on #10
btw, the centrality measure will probably be for unimodal graphs where we
have a two mode graph, don't worry about this, we can figure out later how
to do it correctly, it will still give nice visuals

darisu

On Fri, Mar 13, 2015 at 11:49 AM, Darius Mehri darius_mehri@berkeley.edu
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-13 19:05] dariusmehri commented on #10
one more point, i think two-mode is the same is bipartite,  two-mode is
more common usage in sociology, here is the article i am referencing:

http://www.analytictech.com/borgatti/papers/2modeconcepts.pdf

On Fri, Mar 13, 2015 at 11:51 AM, Darius Mehri darius_mehri@berkeley.edu
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-13 20:01] choldgraf commented on #10
Thanks for the feedback Darius - we'll talk about it at the meeting and can get thoughts back to you.

@juanshishido, are you planning to video-chat into this meeting?
CHris

[2015-03-13 20:24] choldgraf commented on #10
OK, here's a brief plan for today. We'll be meeting at BIDS at 1:30pm (in 9 minutes so hopefully you already knew this haha).
1. Admin stuff (5 min)
2. Update from Juan/Kai meeting + brainstorm page (5 min)
3. BIDS update tomorrow (10 min) - I'm giving a short presentation tomorrow, let's talk about some challenges we've faced, things worth mentioning
4. Project updates / challenges (20 min) - Tal

[2015-03-13 20:30] anthonysuen commented on #10
Yeah the BIDS presentation tomorrow and BIDS social teas the monday after
Spring Break are all great venues to get feedback and ask for help from
experts in the field. If there are any real roadblocks it might be worth
sending a message out the BIDS Slack.

Cheers,

Anthony

On Fri, Mar 13, 2015 at 1:24 PM, Chris Holdgraf notifications@github.com
wrote:

##

Anthony Suen

[2015-03-13 21:20] dariusmehri commented on #10
please mention that since we have time-series data, we can potentially do
some really cool stuff (eventually) with network analysis, ie see how the
structure and measures change over time, by month, week and even day (if we
get hardcore)

darius

On Fri, Mar 13, 2015 at 1:30 PM, anthonysuen notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berke

[2015-03-13 22:07] choldgraf commented on #10
Hey guys - @nlin3330, @kaiweitan and I met today to talk about updates on the project and address some questions that people had. Here are some general updates:
1. I'm going to speak tomorrow at InfoCamp. I'll talk about our general data situation, a few projects we're working on, and some challenges that we've had.
2. @dariusmehri and @nlin3330 have got some preliminary graph viz stuff created. I

[2015-03-14 04:09] juanshishido commented on #10
Apologies for not commenting earlier. I had a big project to finish by 4pm today. For some reason, I didn't have today's meeting on my calendar. Maybe someone can send me that?

The notebook I updated needs a lot more. My plan is to:
- Continue cleaning: identify and remove stop words, stem (to a limited extent), etc.
- Find a list of the most commonly occurring individual words
- Look into some n

[2015-03-16 16:29] choldgraf commented on #7
Just had a potential idea for this project. On top of using co-occurrence to build graphs, we could define similarities between departments based on their seasonal purchasing. E.g., if I plot the average number of POs per department for each week of the year, you could get a plot like this.

X-axis is time, Y-axis is dept
![image](https://cloud.githubusercontent.com/assets/1839645/6670878/b061af00

[2015-03-16 16:29] anthonysuen commented on #7
I think this is a great idea!

Anthony

On Mon, Mar 16, 2015 at 9:29 AM, Chris Holdgraf notifications@github.com
wrote:

##

Anthony Suen

[2015-03-17 07:54] testchange commented on #7
Can you show the legend of the color code for the first graph(the color code for the second one is the correlation)? What does the bar chart with the lines on the top represents?

It is interesting to see that there is high correlation in the middle of the matrix. Maybe we can coordinate the seasonal buying among these departments.

[2015-03-17 16:16] choldgraf commented on #7
Ah good point @kaiweitan, the color code is actually relatively arbitrary. Matplotlib chooses the colors to accentuate the differences in the data, so in this case "white" isn't necessarily 0. When we make a final output of this, then we will make sure to get the colors right.

For the second big correlation matrix, it's currently sorted according to the clustering trees that you see on the margin

[2015-03-17 20:53] choldgraf opened #11 "Meeting times change"
Hey all - I've been looking through the doodle poll to figure out when meeting times work for everybody. Now that we have sub-group projects, I wonder how you all feel about this:

We meet as an entire group every two weeks. This would be _Thursdays at 3:30pm_. This should be an hour-long meeting where we give updates to each project, go over admin stuff, and discuss challenges we're facing / idea

[2015-03-17 20:53] #6 closed, assigned to nobody

[2015-03-17 20:54] choldgraf commented on #5
Closed because @juanshishido is working on this with #9

[2015-03-17 20:54] #5 closed, assigned to juanshishido

[2015-03-17 20:54] choldgraf commented on #1
First draft of home page is made. Should add more to it at some point but not now

[2015-03-17 20:54] #1 closed, assigned to anthonysuen

[2015-03-17 20:56] choldgraf commented on #10
Thanks all for your thoughts. Depending on how #11 goes, we'll meet on Thursday or Friday of this week. BIDS checkpoint is coming up, so we should put together preliminary analyses and make them look pretty / interesting, even if they're not finalized. Then we can use this in our presentation.

[2015-03-17 20:56] #10 closed, assigned to nobody

[2015-03-17 20:57] choldgraf commented on #3
I am willing to migrate any miscellaneous / quick interactions to Slack, though I'd like project-specific questions to remain with their respective github issues. @davclark or @anthonysuen, do you have opinions about using github issues vs. slack for discussion project questions etc?

[2015-03-17 21:49] dariusmehri commented on #11
i'm good, d.

On Tue, Mar 17, 2015 at 1:53 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-17 22:15] testchange commented on #11
good suggestion! I am fine with it.

[2015-03-18 04:10] anthonysuen commented on #11
That sounds like a great idea. Are we meeting this Thursday at 3:30?

Anthony

On Tue, Mar 17, 2015 at 1:53 PM, Chris Holdgraf notifications@github.com
wrote:

##

Anthony Suen

[2015-03-18 07:34] juanshishido commented on #11
This is good for me, too. @kaiweitan shall we meet at BIDS again?

Thanks, Chris.

[2015-03-18 15:57] choldgraf commented on #11
OK, let's all plan to meet in our separate groups this week. @dariusmehri you are still out of town, correct? If so, then @nlin3330 which would you prefer, today or tomorrow?

Next week, we'll meet as a group to prepare some materials for our mid-semester presentation the Monday after.

@kaiweitan and @juanshishido are you able to meet today at 3:00pm in BIDS?

[2015-03-18 16:21] nlin3330 commented on #11
Tomorrow works better for me

[2015-03-18 16:46] choldgraf commented on #11
Sounds good. I'll plan on meeting with @nlin3330 tomorrow to talk about
progress on the network stuff. Juan, Kai, and I will meet today unless I
hear otherwise from them.

On Wed, Mar 18, 2015 at 9:21 AM, nlin3330 notifications@github.com wrote:

[2015-03-18 19:49] testchange commented on #11
Hey juan and chris, i am hosting a senior today. So i cannot come for today session. sorry for the late notice!

[2015-03-18 19:52] davclark commented on #3
If it makes sense to be on GitHub, then it should be on GitHub, definitely.

D

On Tue, Mar 17, 2015 at 1:57 PM, Chris Holdgraf notifications@github.com
wrote:

##

Dav Clark
Data Scientist
Berkeley D-Lab + BIDS
bead.glass
917-544-8408

[2015-03-18 19:53] choldgraf commented on #11
Hi Kai - in that case, can you please give your updates and commit your
latest code to github by this afternoon? I am creating an issue for this
week's meetings.

Chris

On Wed, Mar 18, 2015 at 12:49 PM, Kai notifications@github.com wrote:

[2015-03-18 19:54] choldgraf opened #12 "Meetings for the week of March 16th - Team updates"
Here we will discuss updates from each team meeting. These will be:

@juanshishido and me on Wednesday at 3:00pm in BIDS
@kaiweitan as a personal update
@nlin3330 and me on Thursday at 3:30pm in BIDS
@dariusmehri as a personal update

Please post any and all progress, questions, and comments here, and I will update after the meetings.
## NOTES FROM MEETINGS

_To Do_
@me
1. send Nick Adams an e-mai

[2015-03-18 19:55] choldgraf commented on #11
See #12 for this week. I'm closing this issue because it sounds like we have a plan for meeting times.

[2015-03-18 19:55] #11 closed, assigned to nobody

[2015-03-18 19:57] choldgraf commented on #3
Sounds good - I will note that @juanshishido and I are both on Slack, where we've created a "Purchasing" room to discuss questions about this project. I am not going to make any requirements for people to use Slack, only that if they have any kind of project-related question, they **either** use Slack or they use github, but not email.

However, I still urge you guys to check it out, because I thi

[2015-03-18 19:57] #3 closed, assigned to nobody

[2015-03-18 20:00] testchange commented on #12
i have yet to work on the code yet but i will submit latest by tomorrow morning.

[2015-03-18 20:02] choldgraf commented on #12
Sounds good - we'll await your project update tomorrow morning.

[2015-03-18 23:03] choldgraf commented on #12
Notes from Chris and Juan's meeting:

_To Do_
@me
1. send Nick Adams an e-mail about text processing-
1. figure out what "Service Order Request" is. If it means maintenance, see if it's seasonal at all.
1. Figure out what "coaches corporate credit cards" is
1. Spend vs. quantity*unit_price...why are these different?

@juanshishido
1. Come up with a hand-made word to category dictionary and see how

[2015-03-19 15:32] testchange commented on #8
1) How to code for time to complete per unit cost
2) Mastering github commit push pull (I have uploaded into my test repository in the meanwhile)

I will follow up with @juanshishido for the above 2 cases.

[2015-03-19 17:24] choldgraf commented on #12
@nlin3330: me and @juanshishido are meeting with Nick Adams in the D-lab today at 3:00pm to talk about text analysis and mining. Would you like to join us? It should be a useful conversation, and then we can chat about your project after this.

Also, a number of you guys have messaged me / others on the team via google hangouts...just another plug for moving that conversation to Slack, as it may m

[2015-03-19 18:08] nlin3330 commented on #12
That would work for me.

[2015-03-19 18:08] choldgraf commented on #12
Great, I'll see you and @juanshishido at 3:00PM at BIDS.

Chris

[2015-03-19 18:12] dariusmehri commented on #12
hey guys, i can't meet this friday, i can meet next friday, nick, can you
get together over spring break to work on the graphs?

darius

On Wed, Mar 18, 2015 at 12:54 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-19 18:13] choldgraf commented on #12
hey @dariusmehri, meetings will be on Thursdays at 3:30pm from now on. Team meetings one week, full group meeting the other week (alternating). Same time and place for both. Is that an issue?

[2015-03-19 18:19] nlin3330 commented on #12
I can't meet over spring break since I will be out of town but I will try to make some progress on the graphs. Sorry

[2015-03-19 18:23] dariusmehri commented on #12
hi chris, i can meet on thursdays, darius

On Thu, Mar 19, 2015 at 11:13 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-19 18:26] choldgraf commented on #12
@nlin3330 and @dariusmehri, you guys should remain in contact during Spring Break to coordinate the network analysis stuff. We are giving a short presentation on our progress the Monday after spring break, and we should have some preliminary results so that we get good feedback from the people at BIDS.

[2015-03-19 18:30] dariusmehri commented on #12
sure, i just emailed nick about times to get together, darius

On Thu, Mar 19, 2015 at 11:26 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-19 18:42] choldgraf commented on #12
Thanks - really looking forward to seeing the network project evolve. Results so far seem very promising.

[2015-03-19 18:53] nlin3330 commented on #7
Quick update on the network analysis. I managed to subset the data by months and the graph now looks much cleaner. However, it still doesn't mean much without labels. The next step for me would be to color code the difference between suppliers and departments as well as add in labels.
![3months](https://cloud.githubusercontent.com/assets/7124729/6738328/8998aa46-ce2e-11e4-81d0-3c7f93f86793.png)

[2015-03-19 19:16] choldgraf commented on #7
Very cool - we could choose different uses for colors. E.g., color code by manufacturer or supplier ID, rather than their category. That way we could see which organizations are persistently connected to others across time.

[2015-03-19 21:36] dariusmehri commented on #7
hi nick, nice, but can you explain a bit how you subsetted by months? the
dataset you have seems small, you mean it is for only one month? if so,
which one?

one way to clean up the network graph is to remove nodes with centrality =
0, or with one tie, these ties are not of interest anyway and can be dropped

darius

On Thu, Mar 19, 2015 at 11:53 AM, nlin3330 notifications@github.com wrote:

##

D

[2015-03-19 21:47] nlin3330 commented on #7
Hi Darius,

Basically I converted the creation_time variable into a datetime variable which allows ease in specifying a range of dates. For the graph this was the first three months of the current data (1/1/2012-3/1/2012).

[2015-03-19 21:53] dariusmehri commented on #7
hi nick, i see, i did the same exact thing for 2013, there is some issue
with the dataset you are working with, the number of transactions is too
low (i.e, it looks like there are only a few hundred transactions when
there should be a about a hundred thousand or more), darius

On Thu, Mar 19, 2015 at 2:47 PM, nlin3330 notifications@github.com wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
Uni

[2015-03-19 21:56] dariusmehri commented on #7
if you used drop_duplicates, there is a chance you may be throwing out too
much data

On Thu, Mar 19, 2015 at 2:53 PM, Darius Mehri darius_mehri@berkeley.edu
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-20 07:10] juanshishido commented on #8
This involves dealing with datetimes.

Suggested to convert each column to number of days since epoch (type `Int`). Then, subtraction should result in desired value.

Also, @kaiweitan, remember to add 1 to the subtraction if the dates are inclusive. For example, if you want to count both dates, then `March 20, 2015 - March 19, 2015` should equal 2, not 1.

[2015-03-20 07:44] juanshishido commented on #12
Here is my update.

Started preprocessing text data; needs more work (e.g., removing _some_ special characters). Have a list of the most probable words.

Pushed an update to the text_analysis.ipynb file.

To continue:
- Split word probabilities by department
- Hand-made word to category dictionary
- Come up with a list of categories
- Word frequency matrix (looked into this already. Scitkit-Learn

[2015-03-20 16:31] choldgraf commented on #12
Looks great - looking forward to seeing the final product!

On Fri, Mar 20, 2015 at 12:44 AM, Juan Shishido notifications@github.com
wrote:

[2015-03-20 16:32] choldgraf commented on #8
And don't hesitate to ping github or slack if you run into any hangups!

On Fri, Mar 20, 2015 at 12:10 AM, Juan Shishido notifications@github.com
wrote:

[2015-03-22 22:41] choldgraf commented on #7
hey @nlin3330 it looks like you worked on the color-coding stuff in a recent commit...do you have any interesting output / plots from that analysis, or still a work-in-progress?

[2015-03-22 22:42] choldgraf commented on #9
@juanshishido when you create the "co-occurrence" matrix, how big is it? If it's big / takes a while to make, then we should have a script that creates this data in a separate HDF5 file or something. Otherwise we can just generate on the fly

[2015-03-22 22:43] choldgraf commented on #8
@kaiweitan I see that you and @juanshishido made some commits last Friday. How are you doing on a time-to-completion analysis? Are questions regarding github cleared up?

[2015-03-23 06:26] juanshishido commented on #9
@choldgraf The matrix is (611110, 165508) on UCB_dept_merge.csv. This could use more/better text cleaning. For example, keeping forward slashes when they pertain to actual fractions only. I'm currently just:
- Removing Nans
- Changing all to lowercase
- Keeping only alphanumeric and '.' and '%'
- Removing periods at the start of the string
- Replacing multiple whitespace with a single space

Here

[2015-03-23 06:28] juanshishido commented on #9
By the way, there are two LDA modules (probably more) in Python:
- <a href="https://pypi.python.org/pypi/lda" target="_blank">lda</a>
- <a href="http://scikit-learn.org/stable/modules/generated/sklearn.lda.LDA.html" target="_blank">sklearn.lda.LDA</a>

[2015-03-23 06:43] choldgraf commented on #9
Sounds good - looks like we can use sklearn then for now, and see what
kinds of output / running time we get.

Regarding file formats, for now we can just try to save it in pandas hdf5
format. the call is just `df.to_hdf(file_path, data_key)` I think

On Sun, Mar 22, 2015 at 11:26 PM, Juan Shishido notifications@github.com
wrote:

[2015-03-23 09:42] testchange commented on #8
yep i have no issues with github! I am now trying to find ways to convert the day to integer so that i can find the cost per day. Do you have any suggestions?

[2015-03-23 16:35] choldgraf commented on #8
Since you're converting things to datetime objects, you should have access to the "days" attribute of any given one. Moreover, you can subtract two datetime objects in order to get the difference in days between them, that should give you what you want. You could do something like this:

[code]

When you subtract two datetimes, you get an object called a "timedelta". By using `.astype(timedelta64[

[2015-03-23 20:08] agcinsf commented on #8
I cleaned up our Blanket PO analysis workbook in the ntbk/andrew folder.  Take a look at it as I believe that "Time to PO completion" is related to whether the PO is a "Blanket PO" or not.  In that analysis, I explain what a blanket PO is and how one might find most of them in our Invoice data.  Note that it uses a different data set than the data for this analysis.

[2015-03-24 17:39] choldgraf commented on #8
That's interesting! Could you clarify what you mean by "blanket PO"? It seems like it's related to POs that have "lots of vouchers per PO". Does this mean a single PO that covers requests from multiple people and/or groups?

This may also be related to some analyses I was doing on the seasonality of purchases. It seems that some organizations are relatively quiet in their purchases throughout the

[2015-03-24 17:40] choldgraf commented on #12
Closing this - looking forward to seeing some pretty pictures that we can present on Monday.

[2015-03-24 17:40] #12 closed, assigned to nobody

[2015-03-24 19:34] dariusmehri commented on #8
hey guys, i am back online to work on the project, sorry again for the
absence, my objective is by the end of the week to get the group some nice
network graphs and some hard data, nick is away all week (he is out of the
country), but i will be in touch with him on and off

here are some of the plans:
1. i am going to try to trim out the nodes that have only one tie, this
should bring down the clu

[2015-03-24 19:39] agcinsf commented on #8
Blanket PO's are simply a lump of money the UC has authorized for use with a specific supplier.  The money can be used only with the designated supplier, but the PO owner has the discretion over what they buy.  Typically, these lumps of money are used over a designated period of time, which can be 1 full year!  So they will always have more than 1 voucher/invoice associated with them.

In most cas

[2015-03-24 21:09] dariusmehri commented on #7
hey guys, i am back online to work on the project, sorry again for the absence, my objective is by the end of the week to get the group some nice network graphs and some hard data, nick is away all week (he is out of the country), but i will be in touch with him on and off

here are some of the plans:
1. i am going to try to trim out the nodes that have only one tie, this should bring down the clu

[2015-03-24 21:32] choldgraf commented on #8
Ah I see - so this PO might persist over a long period of time and be attached to multiple purchases, which leads to a larger "time to completion". It seems like this basically removes all information about when each individual purchase is made within that PO, correct?

[2015-03-24 23:28] agcinsf commented on #8
Yes.  The PO could exist for up-to 1 year with multiple invoices citing the PO.  In a way, yes, the blanket PO masks the buy.  However, most buys are not done via blanket PO.  From my limited analysis, it seems like there are a subset of departments using blankets and a subset of suppliers.

[2015-03-25 20:57] testchange commented on #8
Thanks for the help @choldgraf!  I understand that there are other considerations for example the blanket PO as discussed. However, for now and simplicity, I will look into the cost per day of procurement. I have just committed my latest coding. Currently, I am having difficulty coming out with a box diagram that shows the individual department highest cost per day, lowest cost per day, their medi

[2015-03-26 21:56] choldgraf opened #13 "Images for Monday's presentation (no meetups this week)"
Hey guys, I hope you're all having a good break. I'll get to specific questions / issues with projects in a little while, but for now two quick things:
1. No meetings this week. Instead, we'll communicate via github / slack
2. We need some pretty pictures by this Monday for the short BIDS presentation I'm giving. This should be a good opportunity to get some input from people at BIDS and make conn

[2015-03-26 21:57] dariusmehri commented on #13
hey chris, did you get the ones i just sent?

On Thu, Mar 26, 2015 at 2:56 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-26 21:58] choldgraf commented on #13
Hey Darius, how did you send them? Email, or did you post to github?

[2015-03-26 22:10] dariusmehri commented on #13
email to berkeley-dsc/purchasing

doesn't this automatically post it?

i sent them all in a zip file

darius

On Thu, Mar 26, 2015 at 2:58 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-26 22:13] choldgraf commented on #13
Ah - no, github issues only deals with images, but not other file types. A
better strategy would be to put it into dropbox or the google drive and
include a link.

On Thu, Mar 26, 2015 at 3:11 PM, dariusmehri notifications@github.com
wrote:

[2015-03-26 22:29] dariusmehri commented on #13
hey chris, i just emailed them to your gmail, darius

On Thu, Mar 26, 2015 at 3:13 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-26 23:02] choldgraf commented on #13
Sounds good. You have access to the group's Google Drive, right?
On Mar 26, 2015 3:29 PM, "dariusmehri" notifications@github.com wrote:

[2015-03-26 23:31] dariusmehri commented on #13
yeah, do you want me to put it up there as well, darius

On Thu, Mar 26, 2015 at 4:02 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-27 01:27] choldgraf commented on #13
No worries, I'll put it up there for now, we should put results in the
data/results folder

On Thu, Mar 26, 2015 at 4:31 PM, dariusmehri notifications@github.com
wrote:

[2015-03-27 01:30] choldgraf commented on #13
Hey Darius - I just took a look at the graphs. They look interesting!

Can you give a stab at coming up with a "story" to tell judging from this
data? Something along the lines of "by looking at the network across
quarters of a year, we can see that _____, which is interesting because
_____". This will be an important part of all our projects as we start to
get some results in.

On Thu, Mar 26, 20

[2015-03-28 19:19] choldgraf commented on #8
Hey @kaiweitan, it looks like you're moving in the right direction. It sounds like you need to tweak some things but the code you've got is generally what you'd need for a boxplot.

A couple thoughts:
1. Please put your notebook file in the "ntbk" folder, and rename it to something more meaningful (e.g., "time_to_completion")
2. If you want to split a string you can use its "split" method. e.g.:

[2015-03-28 19:21] choldgraf commented on #9
Also - it looks like you can accomplish a lot of your modifications in pandas using the `DataFrame.str` method. This gives you a lot of string operation abilities that are similar to what you're doing with `.apply` and regular expressions.

[2015-03-30 06:54] juanshishido commented on #9
Thanks, @choldgraf. I've battled through regex to get something that's pretty solid.

[code]

Replaces same as before, but also:
- removes URLs
- removes forward slashes preceded or followed by non-digits
- remove single characters

[2015-03-30 08:25] juanshishido commented on #9
@choldgraf I've uploaded three files to Drive, all based on a random sample of 20,000: the 100 topic definitions (with the most frequent 10 words), the top 5 and bottom 5 topics, the top 100 words (with frequencies).

I planned on putting the top 100 words into a word cloud, but I'm having trouble with the module. It can't access something called PIL and its associated fonts.

[2015-03-30 16:44] choldgraf commented on #9
Nice! A couple thoughts:
1. Wow that's some solid regex right there. One thing that might be easier is to create a list of lambda functions, and then iterate through that list to apply them to the dataframe. Would save you some lines of code and `apply`s
2. You might also consider removing common words in the english language. E.g., [check this page out](http://www.wordfrequency.info/free.asp?s=y)

[2015-03-30 16:47] choldgraf commented on #13
Hey all - I hope you guys had a great break. A reminder that I'm chatting (very) briefly about this project at BIDS tea today. If you've got any new pretty pictures, feel free to send them to me.

Let's meet all as a group this week to have a checkpoint session for where we're at. Everybody can talk about what they've accomplished so far, and get some feedback.

Let me know if you've got any quest

[2015-03-30 16:49] dariusmehri commented on #13
sure, thursday at 3:30?

On Mon, Mar 30, 2015 at 9:47 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-03-30 16:57] choldgraf commented on #13
Yup, Thursday at 3:30pm, whole group

[2015-03-30 19:47] juanshishido commented on #9
Thanks, @choldgraf!

In the `CountVectorizer`, I use the english stopwords with:

[code]

But, it definitely seems like it's not doing what we need. I will use the words in the link you provided and rerun. Thanks for that!

[2015-03-30 20:03] choldgraf commented on #9
Yeah - I think I saw quite a few words in there. Maybe the `CountVectorizer` is just not initialized properly? Either way, a quick `words = [word for word in words if word not in drop_list]` should suffice more or less.

And let me know if you've got a word cloud working. This is the only project that I don't have a picture for :)

[2015-03-30 20:27] juanshishido commented on #9
I'm going to just use the top 100 words on the list since it seems to have a lot of words that look like they might be meaningful.

I'll work on the word cloud after rerunning the LDA. I'll do my best to get it working.

[2015-03-30 21:39] testchange commented on #13
ok noted! I may drop by later.

[2015-04-01 17:37] #13 closed, assigned to nobody

[2015-04-01 17:41] choldgraf opened #14 "Meeting - Thursday, April 2nd at 3:30pm"
Hey guys, thanks again for sending me your work so far. In my (admittedly biased) opinion, this project was the most impressive of the ones that presented, you guys are great :)

We'll have a brief meeting tomorrow at 3:30pm. @anthonysuen, maybe you can meet to discuss the best course of action for the final stretch of this project?

Here's what I've got. Let me know if there's anything you'd like

[2015-04-01 17:48] dariusmehri commented on #14
sounds good, we will have a new strategy for the network analysis based on
my conversation with andrew clark

once we get up to speed with all that is required with network x we should
be able to crank out some nice visualizations

darius

On Wed, Apr 1, 2015 at 10:41 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-02 06:31] juanshishido commented on #14
I will try to call in.

In thinking about what we can provide, I had this idea (it may have been discussed before). If we can predict when the various departments in the UC system will need items, we can have them order it ahead of time. This way, _if_ there are instances of higher shipping costs due to expedited shipping, we can prevent that.

[2015-04-02 14:42] agcinsf commented on #14
If there is a call in number I will dial in.

Ac

[2015-04-02 18:54] dariusmehri commented on #14
hey guys, i won't able to make it to the meeting, have an interview i need
to prepare for, if there is a number,  i can dial in using skype,
otherwise, i will be meeting with nick tomorrow and i can give an update on
the next steps via email, darius

On Wed, Apr 1, 2015 at 10:41 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California

[2015-04-02 19:02] anthonysuen commented on #14
Hey guys,

I will be in class until 4pm but would love to catch up on developments.

Anthony

On Wed, Apr 1, 2015 at 10:41 AM, Chris Holdgraf notifications@github.com
wrote:

##

Anthony Suen

[2015-04-02 19:07] choldgraf commented on #14
Hmm - it sounds like a few people won't be able to make it today. My vote is to **postpone this meeting until next week**.

This may work out for the better because I spoke with Aman Ahuja from the Data Guild yesterday. He said he'd be happy to sit in on a meeting that we have in order to figure out how to best-finish these projects[1].

I can send out a when2meet to make sure that his and Andrew'

[2015-04-02 22:04] dariusmehri commented on #14
this works best for me, i will send an update tomorrow after meeting with
nick, darius

On Thu, Apr 2, 2015 at 12:07 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-02 22:24] juanshishido commented on #14
Sounds good, @choldgraf. Thanks!

[2015-04-02 23:10] agcinsf commented on #14
I am definitely open to an ideation phase when these projects are done.  Let me know when/where and I will be there with my colleagues.

[2015-04-09 17:37] #14 closed, assigned to nobody

[2015-04-09 17:42] choldgraf opened #15 "Project finish goals"
Hey folks - just a reminder that we'll be meeting **tomorrow** at **2:00pm at BIDS**. Let me know if you will not be able to be there in person.

Here's what we'll cover:
- Project updates and recap. I've got the presentation I gave at BIDS, but any new results are encouraged.
- Come up with goals for each sub-project. Think about results that would be useful for Andrew.
- Plan the documentation /

[2015-04-09 17:54] juanshishido commented on #15
I'll need a call in number, @choldgraf.

[2015-04-10 21:10] choldgraf commented on #15
Call-in number is: https://bluejeans.com/8816518516

[2015-04-10 22:30] choldgraf commented on #15
Hey all - here's a recap of the meeting from last Friday, as well as a "final deliverable" for each one. Let me know if you guys have any questions.

# All projects
- Comment all code well
- Modularize functions
- Use ipython notebooks to explain analyses run and how the code works

# Network analysis
- Structural equivalence measure - how similar are two departments in time
- Pick similar supplie

[2015-04-13 18:37] choldgraf commented on #15
Hey all - meeting updates and final project goals have been updated (see above). Give them a look and let me know if there are any questions. We can chat about this in the next group meetings, and I'll start thinking about putting together documentation and such for finishing up this project. See you guys soon!

[2015-04-15 17:28] choldgraf opened #16 "Meetings and/or updates this week"
Hey folks - In lieu of meetings this week, I'd like an update of where we are with respect to the current projects. For any of these, if you guys wanna meet to chat about things then I am happy to do so.

@nlin3330 and @dariusmehri - I see that you've pushed some commits to the repository recently. Is the code/notebooks in a format that would be worth taking a look at?

@juanshishido - Did you see

[2015-04-15 17:43] dariusmehri commented on #16
we could but nick and i don't have new results to show yet, perhaps at the
end of this week,  is the final date may 5 during the bids fair?

darius

On Wed, Apr 15, 2015 at 10:28 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-15 17:45] choldgraf commented on #16
OK sounds good, keep me updated. Yes, final date for analyses will be first
week of May. We can put together some figures / explanations for the fair,
and then focus on documentation from then on out.

On Wed, Apr 15, 2015 at 10:43 AM, dariusmehri notifications@github.com
wrote:

[2015-04-15 18:40] nlin3330 commented on #16
Basically I'm trying to create a function that automatically subsets the data by periods of time
(total time/some number) and does a bunch of calculations/creates a graph. However, the data doesn't look consistent as some periods of time have no data so that is one bug that I still need to fix.

[2015-04-15 19:10] testchange commented on #16
@choldgraf

yea we are meeting at 4pm to discuss about the agenda for TTC. I have already looked through a couple of efficiency metrics.

[2015-04-15 19:17] choldgraf commented on #16
Perfect - let me know how the meeting goes

On Wed, Apr 15, 2015 at 12:10 PM, Kai notifications@github.com wrote:

[2015-04-15 19:37] testchange commented on #16
Sorry for the confusion. I meant to have a meeting with you 4pm at BIDS. Are you available during that time?

[2015-04-15 20:00] choldgraf commented on #16
oh I thought you meant you and @juanshishido...I can meet at 4pm at BIDS

[2015-04-15 20:04] choldgraf commented on #16
@juanshishido are you available then?

[2015-04-16 00:05] choldgraf commented on #16
hey @agcinsf, just had a meeting with @kaiweitan to come up with ways to suss out Blanket POs. Do you have information about the size of various departments on campus? We had a hard time finding public information about that but maybe there's internal information sources along those lines?

[2015-04-16 02:37] juanshishido commented on #16
Hey @choldgraf and @kaiweitan. Thought the meeting was scheduled for tomorrow. I was not on campus today.

[2015-04-16 02:40] dariusmehri commented on #16
are we having a meeting tomorrow?

d.

On Wed, Apr 15, 2015 at 7:37 PM, Juan Shishido notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-16 02:44] juanshishido commented on #16
That's what's on my calendar. BIDS - Group meeting 3:30-4:30.

[2015-04-16 02:48] agcinsf commented on #16
It should all be on CalAnswers, the campus BI dashboard tool. I will try and pull out the data tomorrow.

Ac

[2015-04-16 03:08] dariusmehri commented on #16
ok, please send a number so i can call in, darius

On Wed, Apr 15, 2015 at 7:44 PM, Juan Shishido notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-16 05:06] choldgraf commented on #16
Ah - I think that we got thrown off a bit because of the re-scheduled group meeting last week. My vote is to keep it with sub-groups as-needed, rather than meeting as a full group. @juanshishido, if you'd like to chat about the project I'm happy to meet tomorrow. @dariusmehri and @nlin3330, you are welcome to join if you like but we can have a group meeting next week.

[2015-04-16 05:11] dariusmehri commented on #16
group meeting next week, we should have results then, darius

On Wed, Apr 15, 2015 at 10:06 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-16 05:13] choldgraf commented on #16
sounds good - see you next week then. @juanshishido, let me know what you'd like to do

[2015-04-16 05:36] juanshishido commented on #16
It'd be good to touch base, @choldgraf. Maybe just a 30-minute meeting. See you tomorrow. Thanks!

[2015-04-16 16:57] choldgraf commented on #16
Sounds great, see you there.

On Wed, Apr 15, 2015 at 10:36 PM, Juan Shishido notifications@github.com
wrote:

[2015-04-20 01:08] choldgraf commented on #16
Hey all - I'm looking through some of the latest commits now. Sounds like we are making some progress on function-ifying the code that we've created so far. Once we've created functions, we should put them into python modules rather than keep them in the ipython notebooks. The notebooks should just be for prototyping things, and then for demonstrating code / scripting.

To put a function in a modu

[2015-04-22 17:55] choldgraf opened #17 "Group meeting Thursday, April 23rd at 3:30pm"
Hey guys - last week we met individually, so tomorrow we've got a group meeting tomorrow to go over progress on everybody's project.

Primary agenda is:
- discuss what's left to be done on each project
- cover any questions that you guys have come across in the last few days.
- come up with a final format for deliverables

It looks like the final presentation for this project will be **May 6th at

[2015-04-22 18:04] choldgraf opened #18 "Final presentations Wednesday, May 6th at 6:00pm at BIDS"
Hey @berkeley-dsc/purchasing - this is a thread to coordinate information / images / etc for the BIDS final presentation. Here's the info:

**Where** - BIDS
**When** - May 6th, 6:00pm
**What** - Probably a 10-15 minute presentation with a bit more info than last time

Let me know if you guys can be there...this'll be the last official presentation for this project, so you should come and get some

[2015-04-22 18:05] choldgraf commented on #17
Whoops - forgot to include @berkeley-dsc/purchasing (see above for more info)

[2015-04-22 18:07] dariusmehri commented on #17
sure, will be there, darius

On Wed, Apr 22, 2015 at 10:55 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-22 18:08] dariusmehri commented on #18
why so late in the day???

this makes it difficult for folks with kids

darius

On Wed, Apr 22, 2015 at 11:04 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-22 18:12] choldgraf commented on #18
I think they Anthony thought that later would increase attendance...I
didn't really have a say in the matter, but I will let the organizing team
know about this issue.

On Wed, Apr 22, 2015 at 11:08 AM, dariusmehri notifications@github.com
wrote:

[2015-04-22 18:50] danielturek commented on #18
Apologies for the evening event.  I hope all team members are able to attend, to receive the credit you all deserve.  As Chris mentioned, the logic behind the 6pm start time was to allow industry partners with 5pm COB to attend.  Truly, there was no 100% optimal solution here.

[2015-04-22 19:20] dariusmehri commented on #18
ok, i just may not be able to attend, i have to check w/ my wife, darius

On Wed, Apr 22, 2015 at 11:12 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-22 19:21] dariusmehri commented on #18
i see, no worries, darius

On Wed, Apr 22, 2015 at 11:50 AM, Daniel Turek notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-22 21:17] testchange commented on #17
so there's no sub-group meeting today?

[2015-04-22 21:22] choldgraf commented on #17
No, just a group meeting tomorrow.

On Wed, Apr 22, 2015 at 2:17 PM, Kai notifications@github.com wrote:

[2015-04-23 17:51] choldgraf commented on #17
Hey guys - just a reminder about meeting today at 3:30pm. I don't think that updates and discussion will take the full time, so I'll plan on sticking around to work on BIDS projects until about 4:30pm or so regardless. If you guys like, stick around and we can work together to bounce ideas/questions off of each other as they come up.

See you guys soon!

[2015-04-23 22:31] choldgraf commented on #17
Hey guys - there in 5

[2015-04-23 23:28] choldgraf commented on #17
# Network Stuff
- Nick's having an error with "month" subsetting
- NetworkX visualization options aren't great
- Having trouble plotting labels of nodes
- Look into feature generation for gephy

# Blanket PO stuff
- Find Andrew's data about blanket POs
- Get CalAnswer data access
- Come up with a new feature to use on top of number of line items per PO

# Text classification
- Structured Topic Mod

[2015-04-24 02:20] choldgraf commented on #17
@dariusmehri and @nlin3330 have you guys checked out GraphViz [1] and its python libraries [2]? It's a pretty nice graph plotting library. Might be useful, and I think you can use it with NetworkX

[1] http://www.graphviz.org/
[2] https://pypi.python.org/pypi/graphviz

[2015-04-24 18:17] choldgraf commented on #17
Hey @agcinsf, do you have access to CalAnswers? We thought we could look up department information (e.g., size) with this, but it looks like neither me nor @kaiweitan have access. If you know of another place we could look for this information let me know.

[2015-04-24 18:24] agcinsf commented on #17
I though CalAnswers was open to anyone with a CalNet ID.  You just have to register and then use one of the correct browsers, because the tool is restrictive.

If you don't have access, check with Alex Butler.  He might be able to pull the data you need.

Alex, can you help Chris and the gang?

Thanks!

Ac

[2015-04-24 18:48] choldgraf commented on #17
Ahh I see - I think I've figured out how to request access (we'll see if they give it to me).

@kaiweitan you should request access too, then I think you can get the data

[2015-04-27 20:53] choldgraf opened #19 "Project finalization meeting this week"
Hey all - let's have a final work session to hash out final plots / graphs that we'll use in the presentation on Tuesday/Wednesday (or at least to make a clear road to create something by the weekend). We can give a brief update (just a few mins) and spend the rest of the time working to finish up what we've got.

Are you guys free for a working meeting around 3:00pm on Wednesday at BIDS? Let me k

[2015-04-27 20:53] #16 closed, assigned to nobody

[2015-04-27 20:53] #17 closed, assigned to nobody

[2015-04-27 20:54] dariusmehri commented on #19
i can make it but prefer thursday, darius

On Mon, Apr 27, 2015 at 1:53 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-27 20:57] choldgraf commented on #19
I'm gonna be out of town on Thursday through Sunday. Could potentially meet Thu morning but it'd be close...

[2015-04-27 20:59] dariusmehri commented on #19
ok, wed is good with me, d.

On Mon, Apr 27, 2015 at 1:57 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-04-29 01:13] davclark commented on #17
Did y'all find this? https://api-central.berkeley.edu/

On Mon, Apr 27, 2015 at 1:53 PM, Chris Holdgraf notifications@github.com
wrote:

##

Dav Clark
Data Scientist
Berkeley D-Lab + BIDS
bead.glass
917-544-8408

[2015-04-29 03:02] choldgraf commented on #17
That looks interesting - worth checking out, @kaiweitan and @agcinsf?

[2015-04-29 07:39] juanshishido commented on #19
Hey, @choldgraf. My knee is still messed up from a biking mishap last week. Trying not to walk much. Didn't make it to campus yesterday (Tuesday). Not sure I will tomorrow, either. I can video in, though!

[2015-04-29 07:50] juanshishido commented on #9
Here is my update.

### Prep

#### Data cleaning
- removed the English stopwords from `nltk.corpus.stopwords`
- removed individual characters
- removed numbers (excludes numbers with non-numeric characters attached, such as %)

#### Data use
- included supplier name and manufacturer, where available, in the documents to be classified

### LDA
- increased sample size to 40,000
- Output classificati

[2015-04-29 16:35] choldgraf commented on #19
I'm treating this as a "working meeting". I'll be there to work on stuff
I've been doing for this project, and to help out with anybody else's part.
I think it's important that we finalize these materials as a team, rather
than on our own. It will make the end product more useful for Andrew and
teach us more in the process.

If people can't make it today, that's ok so long as we've got something t

[2015-04-29 16:41] dariusmehri commented on #19
i can get a bunch of stuff out by friday, including images and stats, i can
also make a movie, and i'll include a powerpoint with slides to tell a
story, and i will coordinate with nick on latest he as been working on,
it's best for me not to attend meeting today because i kill about an hour
going to campus and back,  darius

On Wed, Apr 29, 2015 at 9:35 AM, Chris Holdgraf notifications@github.com

[2015-04-29 16:45] choldgraf commented on #19
OK, sounds good. If you aren't going to be on campus anyway then I don't
want you to lose time in transit. I'll send out a couple specifics I'd like
from you guys just to make sure we've got what we need. Either way, I'll be
at BIDS at 3pm to work on this.

On Wed, Apr 29, 2015 at 9:41 AM, dariusmehri notifications@github.com
wrote:

[2015-04-29 19:56] juanshishido commented on #9
Hey @choldgraf,

Let me know what you think about this. Should I push the topic definitions files to the results folder?

Thanks.

[2015-04-29 22:26] choldgraf commented on #9
Nice - that looks great. Do you have the outputs from latest clustering for browsing? You can just put the output in a text file and put it in the results folder and I'll take a look if you like.

[2015-04-29 22:26] choldgraf commented on #9
Have you played around with varying the number of clusters to see if that makes a big difference?

[2015-04-29 22:35] juanshishido commented on #9
I've just put those files in the results folder. There is one for each of the 10 number of clusters that I tried, 5 through 15. Not seeing any software topic at first glance.

[2015-04-29 22:36] choldgraf commented on #9
Can you put these in the google drive results folder rather than committing
them? Just delete any outdated results or put it in a date-specific folder.

On Wed, Apr 29, 2015 at 3:35 PM, Juan Shishido notifications@github.com
wrote:

[2015-04-29 22:51] juanshishido commented on #9
Oops. Just put them on Drive.

[2015-04-29 23:00] choldgraf commented on #9
Hmm - so it looks like a word can live in multiple categories then, no? I
see "office" in the first two groups...

On Wed, Apr 29, 2015 at 3:51 PM, Juan Shishido notifications@github.com
wrote:

[2015-04-30 03:16] juanshishido commented on #9
Yes, that's true. Just looked at the LDA page on Wikipedia and it says that a "word may occur in several topics with a different probability."

I'm going to try `stm` and see how it goes.

[2015-04-30 04:48] choldgraf commented on #9
OK, it could be that you can get a listing of the probability values
themselves, then just assign each word to the topic with highest
probability.
On Apr 29, 2015 8:16 PM, "Juan Shishido" notifications@github.com wrote:

[2015-05-02 18:39] choldgraf commented on #18
hey @agcinsf, any chance that you can make it to this? The organizers are trying to get a head count on collaborators who are going to be present.

[2015-05-02 19:24] agcinsf commented on #18
Absolutely I will be there.

Ac

[2015-05-04 23:42] choldgraf commented on #18
@dariusmehri and @nlin3330, I really like the graphs and networks that you've put on the google drive (in the `network_analysis_data` folder). It sounds like there are a lot of interesting stats in there (e.g., betweenness). Can you create some quick summary plots of these (e.g., the distribution of betweenness scores for all departments for one month over 3 years).

[2015-05-04 23:53] dariusmehri commented on #18
hi chris, i am working on this, the graphs are interesting but there is not
much detail because they are not broken down according to item type, i have
item type graphs but haven't posted them yet, i will send out all plots,
graphs, story, conclusion, what to do going forward, and so on, this
evening in power point,  and will post all graphs and so on on drive, i
will be focusing on a few measures

[2015-05-05 00:09] choldgraf commented on #18
ok that sounds great. I'll try to incorporate some of your plots in the
poster as well. The bigger (in resolution) the images are, the better.

On Mon, May 4, 2015 at 4:53 PM, dariusmehri notifications@github.com
wrote:

[2015-05-05 02:49] agcinsf commented on #19
What time is the event tomorrow?  Its at 6pm right?

[2015-05-05 03:22] davclark commented on #19
The Data Science Faire is tomorrow (Tuesday) from 1-4:30pm:

http://bids.berkeley.edu/events/bids-spring-2015-data-science-faire

The Data Science Collaborative final project presentations will be Wednesday at 6pm:

http://bids.berkeley.edu/events/data-science-collaborative-final-project-presentations

[2015-05-05 05:50] choldgraf commented on #19
To add to that - the Data Faire highlights research from all over UC
Berkeley, and the BIDS collaborative is just a part of that. The "final
presentations" event on Wednesday is BIDS-specific, and is probably the
preferred option if you had to pick.

On Mon, May 4, 2015 at 8:22 PM, Dav Clark notifications@github.com wrote:

[2015-05-12 17:56] #18 closed, assigned to nobody

[2015-05-12 17:56] #19 closed, assigned to nobody

[2015-05-12 18:00] choldgraf commented on #15
Hey everybody - thanks again for making the final push to create some visualization etc. for the final project presentation, and thanks to @dariusmehri for presenting the network analysis slides. I appreciate your guys' hard work on this project!

If you are curious, I've put both our project's final poster and our final presentation on the group's google drive.

As the semester finishes up, I wan

[2015-05-12 18:30] dariusmehri commented on #15
hi chris, will do, i have lots of code i can put up on git, can you please
send a hard date so i can put in schedule, thks, darius

On Tue, May 12, 2015 at 11:00 AM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-05-12 19:37] choldgraf commented on #15
Sounds good, let's say Friday, May 22nd

On Tue, May 12, 2015 at 11:30 AM, dariusmehri notifications@github.com
wrote:

[2015-05-12 19:50] dariusmehri commented on #15
ok, sounds like a plan, d.

On Tue, May 12, 2015 at 12:37 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Ph.D. Candidate, Sociology
University of California, Berkeley

[2015-05-30 01:28] choldgraf commented on #15
Hi all - checking back in about the status of the final code for this project. I'd like to get something to Andrew asap so that he can start thinking about the next steps of analysis.

@dariusmehri @nlin3330 and @juanshishido, do you guys have anything ready yet?

[2015-06-01 19:55] juanshishido commented on #15
Hi @choldgraf,

Thanks for following up. The code in the scripts folder is the latest version. I'd been creating and updating the script in parallel with the notebook. You can find it here: https://github.com/berkeley-dsc/purchasing/blob/master/script/purchasing_lda.py.

Thanks!

[2015-06-01 20:10] dariusmehri commented on #15
hey chris, will get to it later today, sorry for the delay, darius

On Fri, May 29, 2015 at 6:28 PM, Chris Holdgraf notifications@github.com
wrote:

##

Darius Mehri
Visiting Scholar, Sociology Department
University of California, Berkeley

[2015-06-02 04:54] dariusmehri commented on #15
hey chris, ok, i just made my first commit to git, data cleaning for
network analysis, will get the rest of the code up there tonight, darius

On Mon, Jun 1, 2015 at 1:10 PM, Darius Mehri darius_mehri@berkeley.edu
wrote:

##

Darius Mehri
Visiting Scholar, Sociology Department
University of California, Berkeley

[2015-12-20 04:13] #7 closed, assigned to dariusmehri

[2015-12-20 04:14] #8 closed, assigned to kitcatkai

[2015-12-20 04:14] #9 closed, assigned to juanshishido

[2015-12-20 04:14] #15 closed, assigned to choldgraf